@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --white: #ffffff;
  --dark-layer-1: rgb(40, 40, 40);
  --dark-layer-2: rgb(26, 26, 26);
  --dark-label-2: rgba(239, 241, 246, 0.75);
  --dark-divider-border-2: rgb(61, 61, 61);
  --dark-fill-2: hsla(0, 0%, 100%, 0.14);
  --dark-fill-3: hsla(0, 0%, 100%, 0.1);
  --dark-gray-6: rgb(138, 138, 138);
  --dark-gray-7: rgb(179, 179, 179);
  --gray-8: rgb(38, 38, 38);
  --dark-gray-8: rgb(219, 219, 219);
  --brand-orange: rgb(255, 161, 22);
  --brand-orange-s: rgb(193, 122, 15);
  --dark-yellow: rgb(255, 192, 30);
  --dark-pink: rgb(255, 55, 95);
  --olive: rgb(0, 184, 163);
  --dark-green-s: rgb(44, 187, 93);
  --dark-blue-s: rgb(10, 132, 255);
}

/* ✅ Background Colors */
.bg-dark-layer-1 { background-color: var(--dark-layer-1); }
.bg-dark-layer-2 { background-color: var(--dark-layer-2); }
.bg-dark-label-2 { background-color: var(--dark-label-2); }
.bg-dark-divider-border-2 { background-color: var(--dark-divider-border-2); }
.bg-dark-fill-2 { background-color: var(--dark-fill-2); }
.bg-dark-fill-3 { background-color: var(--dark-fill-3); }
.bg-dark-gray-6 { background-color: var(--dark-gray-6); }
.bg-dark-gray-7 { background-color: var(--dark-gray-7); }
.bg-gray-8 { background-color: var(--gray-8); }
.bg-dark-gray-8 { background-color: var(--dark-gray-8); }
.bg-brand-orange { background-color: var(--brand-orange); }
.bg-brand-orange-s { background-color: var(--brand-orange-s); }
.bg-dark-yellow { background-color: var(--dark-yellow); }
.bg-dark-pink { background-color: var(--dark-pink); }
.bg-olive { background-color: var(--olive); }
.bg-dark-green-s { background-color: var(--dark-green-s); }
.bg-dark-blue-s { background-color: var(--dark-blue-s); }
.bg-white { background-color: var(--white); }

/* ✅ Text Colors */
.text-brand-orange { color: var(--brand-orange); }
.text-dark-yellow { color: var(--dark-yellow); }
.text-dark-pink { color: var(--dark-pink); }
.text-white { color: var(--white); }

/* ✅ Hover Effects */
.hover\:bg-brand-orange:hover { background-color: var(--brand-orange); }
.hover\:text-brand-orange:hover { color: var(--brand-orange);}
.hover\:bg-white:hover { background-color: var(--white); }

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
